* {
  padding: 0;
  margin: 0;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2.2fr;
  gap: 30px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo . search search"
    "carousel carousel carousel carousel carousel";
  height: 100vh;
}

.logo { grid-area: logo; }

.search {
  align-self: center;
  grid-area: search;
}

.carousel { 
  grid-area: carousel; 
  justify-self: center;
}
