* {
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/ce/1e/ba/ce1eba34cbb8f1fe1ad56e7d11fffcca.jpg");
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    gap: 30px 0px;
    grid-auto-flow: column;
    grid-template-areas:
    "logo logo filter filter filter filter"
    "content content content content content content";
    align-items: center;
    min-height: 100%;
}

html, body {
    height: 100%;
}

.logo {
    grid-area: logo;
}

.filter {
    grid-area: filter;
    justify-self: end;
}

.content {
    justify-self: center;
    grid-area: content;
}


.dropdown {
    display: block;
    width: 200px;
}


