.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    grid-template-rows: 0.25fr 2.3fr;
    gap: 80px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Logo Dropdowns Dropdowns Searchbar"
    "ScrollMenu ScrollMenu ScrollMenu ScrollMenu";
}

.Logo {
    grid-area: Logo;
}

.Searchbar {
    grid-area: Searchbar;
    align-self: center;
}

.Dropdowns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Color Pickup Body-Shape Search-Type";
    grid-area: Dropdowns;
}

.Color {
    grid-area: Color;
}

.Pickup {
    grid-area: Pickup;
}

.BodyShape {
    grid-area: Body-Shape;
}

.SearchType {
    grid-area: Search-Type;
}

.ScrollMenu {
    grid-area: ScrollMenu;
}

.react-horizontal-scrolling-menu--scroll-container {
    overflow-x: hidden;
}